body {
  header.global {
    height: auto;
    border-bottom: none;
    box-shadow: none;

    h1.logo {
      margin: 15px 0;
    }

    ol.left {
      margin-top: 37px;
      float: flip(right, left);
    }

    ol.user {
      float: flip(right, left);
      margin-top: 31px;
      #{$padding-left}: 5px;
      #{$padding-right}: 0;

      li.primary:last-child {
        a {
          padding: 0 8px;
          line-height: 28px;
        }
      }

      ul.dropdown-menu.expanded {
        left: flip(0, -139px);
        top: 28px;

        &:before {
          left: flip(0, 144px);
        }
      }
    }

    .nav-global {
      #{$padding-right}: 0;

      li {
        #{$border-right}: 1px solid #646464;
        margin: 0;
        #{$padding-left}: 0;
        #{$padding-right}: 5px;

        &:nth-child(n+5), &:last-child {
          // Keep the border only on the first 5 buttons
          #{$border-right}: 0;
        }

        a {
          font-weight: normal;
          font-size: 16px;
          letter-spacing: 0px;
          padding: 5px;
          padding-top: 0;
        }
      }
    }
  }

  .content-wrapper {
    padding-bottom: ($baseline/2);
  }
}
