<link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

<!-- Success! Your configuration has been saved to https://gist.github.com/8a1f2c583bff39155307 and can be revisited here
http://getbootstrap.com/customize/?id=8a1f2c583bff39155307 for further customization. -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/static/themes/edraak/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="/static/themes/edraak/js/bootstrap.min.js"></script>
